h1{
    left: 500pt;
    color: darkgreen;
    position: relative;
}

.head{
    border-style: solid;
    height: 150px;
    background-color: bisque;
}

.poscabecario{
    border-style: none;
    background-color: aquamarine;
}